<div class="row">
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="col-xs-12">
            <div class="alert alert-danger" *ngIf="securityObject && 
            !securityObject.isAuthenticated">
                <p>Invalid UserName/Password</p>
            </div>
        </div>
        <label for="userName" class="sr-only">Email address</label>
        <input type="email" id="userName" name="userName" class="form-control" placeholder="UserName"
            [(ngModel)]=user.userName required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
            [(ngModel)]=user.password required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" (click)=login()>Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </div>
</div>
